RAG AGENT.json
{
  "name": "RAG AGENT",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        -768
      ],
      "id": "d68429bd-e505-43d1-a3c8-b4306f15afc1",
      "name": "Telegram Trigger",
      "webhookId": "81af47bd-be2b-4d7d-8eb4-b035b8c46f4c",
      "credentials": {
        "telegramApi": {
          "id": "vOeCkkkktAt8sRD2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer the user query :{{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a RAG AI Agent, Call the retrieval tool and fetch the correct details from the vector DB.\n\nIf the answer is wrong, fallback to the LLM and answer it from general knowledge. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -448,
        -768
      ],
      "id": "e2881bef-3933-4ec1-89d0-ac50ce67cfa7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -624,
        -464
      ],
      "id": "f505c3cb-bb41-4242-ae49-374ee9092f85",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sJKfkyawOJUJECGf",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=telegram_{{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -400,
        -464
      ],
      "id": "1c7e959b-3bbd-46c0-953d-c848d4ccc9a8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        -768
      ],
      "id": "a67ed362-d607-41ec-b2b0-68f04c859cfa",
      "name": "Send a text message",
      "webhookId": "b8904509-6bac-40a1-bc0f-0dd93a0f92d0",
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "vOeCkkkktAt8sRD2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1N5zsKCQwSrW_R6J6Agyt4mNUzQyEx8EN",
          "mode": "list",
          "cachedResultName": "RAG-N8N-DEMO",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1N5zsKCQwSrW_R6J6Agyt4mNUzQyEx8EN"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        -768
      ],
      "id": "32ef6bac-ed49-4b02-9080-3c09c31176b5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mWgfn9WlaOmAc4aA",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1504,
        -768
      ],
      "id": "7c0a87b8-25ac-4978-8b9f-1354b31b5e14",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mWgfn9WlaOmAc4aA",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "trythismax",
          "mode": "list",
          "cachedResultName": "trythismax"
        },
        "embeddingBatchSize": 1000,
        "options": {
          "pineconeNamespace": "=Company_document_{{ $now .toFormat('yyyyLLdd-HHmm')}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1248,
        -768
      ],
      "id": "62c44a1e-cd06-45d8-969a-703e2c91a17c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "aLmytEmHzxVcrqyz",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1536,
        -464
      ],
      "id": "c8238ff7-8aa5-49f3-8605-4d447a60a420",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "sJKfkyawOJUJECGf",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1232,
        -496
      ],
      "id": "aaf2e970-f240-4a7d-b9f4-51fe67607dca",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 220,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1296,
        -224
      ],
      "id": "56203244-a8e1-424a-92f4-572d18bf1b49",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        -320
      ],
      "id": "c4e04250-93d3-400e-a435-ea9b0830dbf6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "sJKfkyawOJUJECGf",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "trythismax",
          "mode": "list",
          "cachedResultName": "trythismax"
        },
        "useReranker": true,
        "options": {
          "pineconeNamespace": "Company_document_20260207-0035"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -464,
        -288
      ],
      "id": "e5aec893-956f-4eda-b428-ad7f0028684a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "aLmytEmHzxVcrqyz",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -592,
        -96
      ],
      "id": "05beb6a5-d885-4b15-85b4-58275777afd1",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "sJKfkyawOJUJECGf",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "description": "Retrieve the context based on user query "
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -208,
        -512
      ],
      "id": "d439f989-b2be-488a-abf5-502f40f7a74b",
      "name": "Basic Rag"
    },
    {
      "parameters": {
        "topN": 10
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        -304,
        -64
      ],
      "id": "850ca18f-2291-41c9-88d1-3985c57833ba",
      "name": "Reranker Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "g1DizpGqNbNCYbFW",
          "name": "CohereApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic Rag",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Basic Rag",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Basic Rag": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "0d46cda9-8acf-4113-b223-fb8b067c5e18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55fc1a7d163b063ea5630726196d7a9058609cf5d6f30306808d658d1334f1cb"
  },
  "id": "Z6B70jrVl_NJniidNS1Qr",
  "tags": []
}